* {
    width: 100%;
    left: 0;
    border: 4px solid black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


.azul {
    position: absolute;
    background-color: #4A90E2;
    top: 0;
    height: 20%;
}

.rojo {
    position: absolute;
    background-color: #C1494E;
    top: 20%;
    height: 10%;
}

.purpura {
    position: absolute;
    background-color: #9B59B6;
    top: 30%;
    height: 50%;
}

.naranja {
    position: absolute;
    background-color: #F39C12;
    top: 80%;
    height: 20%;
}